header 
    nav.header-container 
        a(href='/logout')
          button.btn-header Logout
        a(href='/index')
          button.btn-header Inicio
        a(href='/favoritesmovies')
          button.btn-header Mis Peliculas Favoritas
        a(href='/search')
          button.btn-header Buscador de peliculas
        