header 
    nav.header-container 
        a(href='/favoritesmovies')
          button.singIn-btn Mis Peliculas Favoritas
        a(href='/search')
          button.singIn-btn Buscador de peliculas
        a(href='/logout')
          button.singIn-btn Logout
        a(href='/index')
          button.singIn-btn Inicio
        