header 
    nav 
        a(href='/index')
             button.btn Inicio
        a(href="/admin")
            button.btn Mis películas 
        a(href='/logout')
            button.btn Logout
        
        
            
        