doctype html
html
  head
    title Register
    link(rel="stylesheet", href="styles.css")
  body
    main
      nav
        a(href='/')
          button.singIn-btn Mis Peliculas Favoritas
        a(href='/opiniones')
          button.singIn-btn Opiniones de la pelicula
        a(href='/search')
          button.singIn-btn Buscador de peliculas
        a(href='/logout')
          button.singIn-btn Logout
      h1.title IMDV movies
