doctype html
html
  head
    title Register
    link(rel="stylesheet", href="styles.css")
    body 
      main
        section.sectionInicio
          a(href='/login')
            button.singIn-btn Login
          a(href='/register')
            button.singIn-btn Registrate
          br
        h1.title Bienvenido a IMDV movies 
