doctype html
html
  head
    title Login
    link(rel="stylesheet", href="styles.css")
    body 
        main
            a(
                href='/register' 
                )
                button.singIn-btn Resgistro
            br
            br
            if userLogged
                p Se ha registrado: #{userLogged}
            else
                p 
            h1.title IMDV movies            
            h4 Login:
            p #{msj}
            section.form-container
                form.singIn-form(action="/login" method="POST")
                    input(type="text",name ="email", placeholder="Tú Email" required).singIn-name-input
                    br
                    input(type="password" name="password", placeholder="Contraseña" required).singIn-pass-input
                    br
                    input(type="submit", value="Enviar").singIn-enviar
                    br
            a(href='/register') Aún no estas registrado, Resgistrate aqui!
            
