doctype html
html
  head
    title Login
    link(rel="stylesheet", href="styles.css")
    body 
        main
            a(href='/register')
                button.singIn-btn Resgistro
            
            if userLogged
                p Se ha registrado: #{userLogged}
            else
                p 

            h1.title IMDV movies            
            h2 Login:
            p #{msj}
            
            section.formLogin-container
                form.formLogin(action="/login" method="POST")
                    label(for="email")
                    input(type="email", name="email", placeholder="Tú Email", required)
                    label(for="password") 
                    input(type="password", name="password", placeholder="Contraseña", required)
                    input(type="submit", value="Enviar").singIn-btn

            
