doctype html
html
  head
    title logout
    link(rel="stylesheet", href="styles.css")
    body 
        main
            h1 IMDV movies
            a(
                href='/login' 
                )
                button.singIn-btn Login 
            a(
                href='/register' 
                )
                button.singIn-btn Register
            a(
                href='/' 
                )
                button.singIn-btn Inicio
            
            br
            h1.title Hasta pronto!!
