doctype html
html
  head
    title Opiniones de usuarios SENSACINE
    link(rel="stylesheet", href="stylesOpiniones.css")
  body
    h1#title_opiniones Opiniones de usuarios 
      | SENSACINE
    ul.container
      each opinion in user
        li#li_opiniones
          strong Usuario:  
            | #{opinion.userName}
          br
          br
          span #{opinion.userOpinion}
          br
          br
