doctype html
html
  head
    title Register
    link(rel="stylesheet", href="styles.css")
    body
        main
            a(href='/login')
                button.singIn-btn Login
            
            h1.title IMDV movies
            
            h2 Registro:
            p #{msj}

            section.formLogin-container
                form.formLogin(action="/register" method ="POST")
                    label(for="username")
                    input(type="text",name ="username", placeholder="Tú Nombre de usuario" required)
                    label(for="email")                    
                    input(type="text",name ="email", placeholder="Tú Email" required)
                    label(for="password")
                    input(type="password" name="password", placeholder="Contraseña" required)
                    label(for="role")
                    select(name="role")
                        option(value="admin") Admin
                        option(value="user") User
                    input(type="submit", value="Registrar" required).singIn-btn
        
            
