doctype html
html
  head
    title Register
    link(rel="stylesheet", href="styles.css")
    body
        include header.pug 
        main
          h1 BUSCAR PELICULAS
          form(id="form" action ="/search" method="post").form
            label(for="title")
            input(type="text" id="title" name="inputBuscar" placeholder="Search Movie" required)
            input(type="submit", value="Buscar").btn
        
  